apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/origoss/go-server-argocd.git'
    path: monitoring/prometheus
    targetRevision: HEAD
    helm:
      releaseName: prometheus
      chart: prometheus 
      repoURL: https://prometheus-community.github.io/helm-charts
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

