prometheus:
  prometheusSpec:
    scrapeInterval: 30s
    evaluationInterval: 30s

    extraScrapeConfigs: |
      - job_name: argocd-controller
        scrape_interval: 30s
        metrics_path: /metrics
        static_configs:
          - targets:
              - argocd-metrics.argocd.svc.cluster.local:8082

